.tableWrap{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
table thead th, table td{
    border:1px solid black;
    text-align:center;
    padding:2px 40px;
    font-size:larger;
    color:blue;
    background-color:aquamarine;
}
table th{
    color:black;
}
table{
    width: 100%;
    margin-top:20px;
    border-collapse:collapse;
}
/* Add any additional styling as needed */
input{
    padding:5px;
    margin-right:5px;
}
table td button{
    padding:5px 10px;
    border-radius:5%;
    cursor:pointer;
}
.addForm{
    margin-bottom:30px;

}
.addForm button{
    width:100px;
    padding:5px;
    color:white;
    background-color:green;
}

.addForm button:hover{
    cursor:pointer;
    background-color:rgb(7,62,7)
}

.edit{
    color:white;
    margin-right:5px;
    background-color:blue;
}

.edit:hover{
    background-color:rgb(7,7,73)
}
.delete{
    color:white;
    background-color:red;
}
.delete:hover{
    background-color:rgb(108,8,8)
}
/* th,td{
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}
th {
    background-color: #f2f2f2;
  }
  button {
    margin-top: 8px;
  }
   */